.footer{
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    height:30vh;
    background-image:url("../../images/pattern-hills.svg");
    background-repeat: no-repeat;
    background-position: 85% 0;
    background-size: cover;
    &__socials{
        display:flex;
        @include flex(row,center,center);
        height:100%;
        &-social{
            margin:40px 10px 0;
        }
        &-link{
            display:block;
            height:100%;
        }
    }
}
